<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>FM90 - Tin tức giao thông</title>
    <meta
      name="description"
      itemprop="description"
      content="Nghe các kênh phát thanh nên nền tảng trực tuyến"
    />
    <meta charset="utf-8" />
    <meta
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=1"
      name="viewport"
    />
    <link rel="icon" href="/sample/logo.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img
            src="/sample/logo.svg"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          Trang chủ
        </a>
      </div>
    </nav>
    <div class="row">
      <div class="col2"></div>
      <div class="col8">
        <h1 itemprop="headline" class="center">FM90 - Tin tức giao thông</h1>
        <div id="foxxradio">
          <div id="foxxplayer">
            <div id="play" @click="play" v-if="play1">
              <img
                src="/sample/play-circle-fill.svg"
                alt="play"
                class="playericon"
              />
            </div>
            <div id="pause" @click="pause" v-else="play1">
              <img
                src="/sample/pause-circle-fill.svg"
                alt="pause"
                class="playericon"
              />
            </div>
            <div id="down" @click="down">
              <img
                src="/sample/arrow-down-circle.svg"
                alt="down"
                class="playericon"
              />
            </div>
            <div id="mute" @click="mute" v-if="pause1">
              <img
                src="/sample/volume-mute.svg"
                alt="mute"
                class="playericon"
              />
            </div>
            <div id="mute" @click="mute" v-else="pause1">
              <img src="/sample/volume-up.svg" alt="mute" class="playericon" />
            </div>
            <div id="up" @click="up">
              <img
                src="/sample/arrow-up-circle.svg"
                alt="up"
                class="playericon"
              />
            </div>
          </div>
          <div id="foxxinfo">
            <div id="timer">{{minutes}}:{{time % 60}}</div>
            <p class="player-r-name">
              <marquee scrollamount="3">FM90 - Tin tức giao thông</marquee>
            </p>
            <p id="volume">{{ volume }}%</p>
          </div>
        </div>
        <div class="radio-info">
          <div class="thumb">
            <picture itemprop="thumbnailUrl">
              <img
                class="radiologo"
                alt="logo FM90 - Tin tức giao thông"
                src="/img/fm90.jpg"
              />
            </picture>
          </div>
          <div class="info">
            <p>
              Kênh FM90 Giao thông đô thị tại Hà Nội được chính thức phát sóng
              từ ngày 14/1/2019 theo phương thức phát thanh hiện đại, trực tiếp,
              tức thời và tương tác với thính giả, để có thể cập nhập hơi thở
              nhịp sống cư dân tại Hà Nội.
            </p>
            <p>
              Bên cạnh thông tin về tình hình giao thông Thủ đô được cập nhập
              liên tục trong ngày, các khung giờ “Hà Nội Sáng” 6h - 10h, “Hà Nội
              Trưa” 11h - 13h và “Hà Nội Chiều” 16h - 19h trên FM90 sẽ chuyển
              tải những tin tức thiết thực liên quan đời sống dân sinh, thông
              tin thương mại, thị trường, giá cả, mua sắm, du lịch và giải trí…
              nhằm đáp ứng tốt nhất nhu cầu của người dân Thủ đô.
            </p>
          </div>
        </div>
      </div>
      <div class="col2"></div>
    </div>
    <h1>Danh sách kênh:</h1>
    <div class="row">
      <div class="col1">
        <div class="card1">
          <a href="/web/vov1.html">
            <div class="radio">
              <img class="widget-radio" alt="VOV1" src="/img/vov1.webp" />
              <span class="radio-name">VOV1</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="web/vov2.html">
            <div class="radio">
              <img class="widget-radio" alt="VOV2" src="/img/vov2.webp" />
              <span class="radio-name">VOV2</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="web/vov3.html">
            <div class="radio">
              <img class="widget-radio" alt="VOV3" src="/img/vov3.webp" />
              <span class="radio-name">VOV3</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col1">
        <div class="card1">
          <a href="/web/vovgt-hn.html">
            <div class="radio">
              <img
                class="widget-radio"
                alt="VOV Giao thông Hà Nội"
                src="/img/vovgt-hn.webp"
              />
              <span class="radio-name">VOV Giao thông Hà Nội</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="web/vovgt-hcm.html">
            <div class="radio">
              <img
                class="widget-radio"
                alt="VOV Giao thông Hồ Chí Minh"
                src="/img/vovgt-hcm.webp"
              />
              <span class="radio-name">VOV Giao thông Hồ Chí Minh</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col1">
        <div class="card1">
          <a href="/web/xone.html">
            <div class="radio">
              <img class="widget-radio" alt="XONE FM" src="/img/xone.jpg" />
              <span class="radio-name">XONE FM</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="web/pladio.html">
            <div class="radio">
              <img class="widget-radio" alt="Pladio" src="/img/pladio.jpg" />
              <span class="radio-name">Pladio</span>
            </div>
          </a>
        </div>
      </div>

      <div class="col1">
        <div class="card1">
          <a href="/web/fm90.html">
            <div class="radio">
              <img
                class="widget-radio"
                alt="FM90 - Giao Thông Đô Thị"
                src="/img/fm90.jpg"
              />
              <span class="radio-name">Hà Nội FM90</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="/web/fm96.html">
            <div class="radio">
              <img
                class="widget-radio"
                alt="FM96 - Thời sự tổng hợp"
                src="/img/fm96.jpg"
              />
              <span class="radio-name">Hà Nội FM96</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="/web/voh99.html">
            <div class="radio">
              <img class="widget-radio" alt="FM99" src="/img/voh99.jpg" />
              <span class="radio-name">VOH FM99.9</span>
            </div>
          </a>
        </div>
      </div>
      <div class="col1">
        <div class="card1">
          <a href="web/voham.html">
            <div class="radio">
              <img class="widget-radio" alt="AM610" src="/img/voh610.jpg" />
              <span class="radio-name">VOH AM610</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <style type="text/css">
      #foxxplayer {
        background: linear-gradient(
            0deg,
            rgb(37 37 37 / 70%),
            rgb(57 57 57 / 70%)
          ),
          url("/img/fm90.jpg");
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }
    </style>

    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-J565286GX4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-J565286GX4");
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.37/vue.global.prod.min.js"
      integrity="sha512-8GokEWxcB/NrPU4O8BHTgd9dkLouAsvqCnk6BSa2CZw7QXh0QM8GHfS53xYW1QJJVyJWctlcdRQwu5UxeLVsNA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      type="text/javascript"
      src="https://vovmedia.vn/js/rplayer.js"
    ></script>
    <script type="text/javascript">
      const info = Vue.createApp({
        data: () => ({
          playing: false,
          volume: null,
          paused: false,
          muted: false,
          isHls: false,
          src: null,
          time: 0,
        }),
      }).mount("#foxxinfo");

      Vue.createApp({
        data: () => ({
          audio: null,
          play1: true,
          pause1: true,
          url: "https://cloudstreamhntv.tek4tv.vn/audio/fm90/playlist.m3u8",
          urls: {},
        }),
        created: function () {
          this.init();
        },
        methods: {
          init: function () {
            this.audio = new rPlayer();
            this.url =
              "https://cloudstreamhntv.tek4tv.vn/audio/fm90/playlist.m3u8";
            this.log();
            const self = this;
            this.audio.ontimeupdate = function () {
              self.log();
            };
          },
          up: function () {
            this.audio.upVolume();
            this.log();
            this.trackEvent("div", "Up");
          },
          down: function () {
            this.audio.downVolume();
            this.log();
            this.trackEvent("div", "Down");
          },
          mute: function () {
            this.pause1 = !this.pause1;
            this.audio.mute();
            this.log();
            this.trackEvent("div", "Mute");
          },
          pause: function () {
            this.play1 = true;
            this.audio.pause();
            this.log();
            this.trackEvent("div", "Pause");
          },
          play: function () {
            this.play1 = false;
            this.audio.playSrc(this.url);
            this.log();
            this.trackEvent("div", "Play");
          },
          log: function () {
            info.playing = this.audio.playing;
            info.volume = this.audio.volume * 100;
            info.paused = this.audio.paused;
            info.muted = this.audio.muted;
            info.src = this.audio.url;
            info.isHls = this.audio.isHls;
            info.time = Math.floor(this.audio.currentTime);
            info.minutes = parseInt(info.time / 60, 10) % 60;
          },
        },
      }).mount("#foxxplayer");
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        var engine = new Bloodhound({
          remote: {
            url: "/find?q=%QUERY%",
            wildcard: "%QUERY%",
          },
          datumTokenizer: Bloodhound.tokenizers.whitespace("q"),
          queryTokenizer: Bloodhound.tokenizers.whitespace,
        });

        $(".search-input").typeahead(
          {
            hint: true,
            highlight: true,
            minLength: 1,
          },
          [
            {
              source: engine.ttAdapter(),
              name: "radioname",
              limit: 10,
              display: function (data) {
                return data.radioname;
              },
              templates: {
                empty: [
                  '<div class="list-group search-results-dropdown"><div class="list-group-item">Không tìm thấy.</div></div>',
                ],
                header: [
                  '<div class="list-group search-results-dropdown"></div>',
                ],
                suggestion: function (data) {
                  return (
                    '<a href="/' +
                    data.radiourl +
                    '" class="list-group-item">' +
                    data.radioname +
                    "</a>"
                  );
                },
              },
            },
          ]
        );
      });
    </script>
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
      integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
      data-cf-beacon='{"rayId":"895c4ccb9f121083","r":1,"version":"2024.4.1","token":"95eb45faf90c46e0b9e33a813bc4d81d"}'
      crossorigin="anonymous"
    ></script>
  </body>
</html>
